<h1 align="center">Registration Form</h1>

<form #registrationForm="ngForm" (ngSubmit)="registrationSubmit(registrationForm.value)" novalidate>
    <div class="form-container">
        <div class="input-container">
            <label for="employeeName">Employee Name</label>
            <input type="text" name="employeeName" #employeeName="ngModel" ngModel required minlength="2" maxlength="50" />
            <div class="error-message" *ngIf="employeeName.errors?.['required'] && employeeName.touched">Please provide the Employee Name</div>
            <div class="error-message" *ngIf="employeeName.errors?.['minlength'] && employeeName.touched">Please provide at least 2 characters for Employee Name</div>
        </div>
        <div class="input-container">
            <label for="mobileNumber">Mobile Number</label>
            <input type="tel" name="mobileNumber" #mobileNumber="ngModel" ngModel required minlength="10" maxlength="15" />
            <div class="error-message" *ngIf="mobileNumber.errors?.['required'] && mobileNumber.touched">Please provide the Mobile Number</div>
            <div class="error-message" *ngIf="mobileNumber.errors?.['minlength'] && mobileNumber.touched">Please provide at least 10 characters for Mobile Number</div>
          </div>
          <div class="input-container">
              <label for="salary">Salary</label>
              <input type="number" name="salary" #salary="ngModel" ngModel required min="0" max="1000000" />
              <div class="error-message" *ngIf="salary.errors?.['required'] && salary.touched">Please provide the Salary</div>
              <div class="error-message" *ngIf="salary.errors?.['min'] && salary.touched">Please provide a valid Salary</div>
          </div>
          <div class="input-container">
              <label for="gender">Gender</label>
              <select name="gender" #gender="ngModel" ngModel required>
                  <option value="" disabled selected>Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
              </select>
              <div class="error-message" *ngIf="gender.errors?.['required'] && gender.touched">Please select the Gender</div>
          </div>
          <div class="input-container">
              <label for="dateOfJoining">Date of Joining</label>
              <input type="date" name="dateOfJoining" #dateOfJoining="ngModel" ngModel required />
              <div class="error-message" *ngIf="dateOfJoining.errors?.['required'] && dateOfJoining.touched">Please provide the Date of Joining</div>
          </div>
          <div class="input-container">
              <label for="country">Country</label>
              <input type="text" name="country" #country="ngModel" ngModel required minlength="2" maxlength="50" />
              <div class="error-message" *ngIf="country.errors?.['required'] && country.touched">Please provide the Country</div>
              <div class="error-message" *ngIf="country.errors?.['minlength'] && country.touched">Please provide at least 2 characters for Country</div>
          </div>
          <div class="input-container">
              <label for="emailId">Email ID</label>
              <input type="email" name="emailId" #emailId="ngModel" ngModel required />
              <div class="error-message" *ngIf="emailId.errors?.['required'] && emailId.touched">Please provide the Email ID</div>
              <div class="error-message" *ngIf="emailId.errors?.['email'] && emailId.touched">Please provide a valid Email ID</div>
          </div>
          <div class="input-container">
              <label for="password">Password</label>
              <input type="password" name="password" #password="ngModel" ngModel required minlength="6" maxlength="20" />
              <div class="error-message" *ngIf="password.errors?.['required'] && password.touched">Please provide the Password</div>
              <div class="error-message" *ngIf="password.errors?.['minlength'] && password.touched">Password must be at least 6 characters</div>
              <div class="error-message" *ngIf="password.errors?.['maxlength'] && password.touched">Password must not exceed 20 characters</div>
          </div>
          <div class="input-container">
              <label for="departmentId">Department ID</label>
              <input type="text" name="departmentId" #departmentId="ngModel" ngModel required minlength="2" maxlength="10" />
              <div class="error-message" *ngIf="departmentId.errors?.['required'] && departmentId.touched">Please provide the Department ID</div>
              <div class="error-message" *ngIf="departmentId.errors?.['minlength'] && departmentId.touched">Please provide at least 2 characters for Department ID</div>
              <div class="error-message" *ngIf="departmentId.errors?.['maxlength'] && departmentId.touched">Department ID must not exceed 10 characters</div>
          </div>
          <button [disabled]="!registrationForm.valid">Register</button> Already have an account? <a href="">Login</a>
      </div>
  </form>